/* font links */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Azeret Mono", monospace; */
* {
    font-family: "Azeret Mono";
}

/* shared styles start */
.section-title {
    font-family: "Azeret Mono";
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    color: rgb(13, 19, 33);
    letter-spacing: 0%;
    text-align: center;
}

.description {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #0D1321B3;
    margin: 24px 232px;
    text-align: center;
}

/* shared styles end */
/* nav start  */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px;
}

.nav-btn {
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 17px 24px;
}

.nav-btn a {
    text-decoration: none;
    color: rgb(13, 19, 33);
}

/* nav end */
/* banner start */
.banner {
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 30px 0;
}

.banner-content {
    text-align: center;
    padding: 100px 300px;
}

.banner-img {
    margin-bottom: 26px;
}

.banner-title {
    margin: 0;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
}

.banner-btn {
    font-size: 20px;
    font-weight: 600;
    padding: 21px 24px;
    border: none;
    background-color: black;
    border-radius: 5px;
}

.banner-btn a {
    color: white;
    text-decoration: none;
}

/* banner end */
/* why dev section start */
.why-dev {
    padding: 80px 247px;

}

.why-dev-items {
    background-color: #0D132105;
}

.item1,
.item3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    box-shadow: -3px 0px 4px 0px rgba(0, 0, 0, 0.04);
    background: rgb(255, 255, 255);
    padding: 48px 0;
    margin: 30px 0;
}

.item2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.04);
    background: rgb(255, 255, 255);
    padding: 48px 0;
    margin: 30px 0;
}

.w-content1 {}

.w-content1 h2 {
    font-size: 24px;
    font-weight: 700;
    color: #0d1321c9;
}

.w-content1 p {
    color: #0D1321;
}

.w-content1 button {
    padding: 12px 20px;
    font-size: 20px;
    font-weight: 600;
    color: #0D1321;
    background-color: white;
    border-color: #0D1321;
}

.w-img {
    width: 274px;
}

/* why dev section end */
/* My Inspiration section start  */
.my-inspiration {
    padding: 0px 247px;
}

.my-inspire-iframe {
    margin: 50px 0 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.iframe-box {
    width: 1120px;
    height: 615px;
    /* background-color: aqua; */
    border: 2px solid #0d13213f;
    border-radius: 10px;
}

.y-video {
    padding: 20px;
    border-radius: 10px;
}

/* My Inspiration section end */
/* My Current Target section start */
.current-target {
    padding: 0px 247px;
}

.target-item {
    margin: 50px 0 70px;
    display: flex;
    gap: 30px;
}

.t-item1 {
    padding: 40px;
    border-radius: 16px;
    background-color: #ff4b1e09;
}

.t-item1 p {
    color: #0d1321b7;
    line-height: 30px;
}

.t-item1 button {
    border: none;
    padding: 0;
}

.t-item1 button a {
    font-size: 16px;
    font-weight: 700;
    background-color: white;
    color: black;
}






.t-item2 {
    padding: 40px;
    border-radius: 16px;
    background-color: #f2f6fe;
}

.t-item2 p {
    color: #0d1321b7;
    line-height: 30px;
}

.t-item2 button {
    border: none;
    padding: 0;
}

.t-item2 button a {
    font-size: 16px;
    font-weight: 700;
    background-color: white;
    color: black;
}





.t-item3 {
    padding: 40px;
    border-radius: 16px;
    background-color: #fffdf2;
}

.t-item3 p {
    color: #0d1321b7;
    line-height: 30px;
}

.t-item3 button {
    border: none;
    padding: 0;
}

.t-item3 button a {
    font-size: 16px;
    font-weight: 700;
    background-color: white;
    color: black;
}

/* My Current Target section end */

/* I need support section start */
.need-support {
    padding: 50px 247px;
}

.support-items {
    text-align: center;
    background-image: url(../assets/handshake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 64px 48px;
    background-position: center;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: overlay;
}

.support-content h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 30px;
    color: rgb(255, 255, 255);
}

.support-content p {
    margin: 10px 0 35px;
    color: rgb(255, 255, 255);
}

.support-form input[type="text"] {
    width: 548px;
    padding: 19px 20px;
    border: none;
    border-radius: 8px;
}

.support-form input[type="submit"] {
    padding: 15px 18px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    color: rgba(0, 0, 0, 0.658);
}

/* I need support section end */



/* Footer start */
footer {
    padding: 20px 247px;
    background-color: rgba(13, 19, 33, 0.03);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content h1 {}

.footer-icon {}

.footer-icon ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-icon ul li {
    list-style: none;
}

.footer-icon ul li a {
    text-decoration: none;
}

/* Footer end */